/* Контейнер для наложенных изображений */
.overlappingImages {
  position: fixed; /* Закрепляем контейнер относительно окна */
  width: 555px; /* Устанавливаем фиксированную ширину */
  height: 455px; /* Устанавливаем фиксированную высоту */
  bottom: -90px; /* Привязываем к нижнему краю экрана */
  right: 80px; /* Смещаем вправо */
  overflow: hidden; /* Гарантируем, что содержимое не вызовет прокрутки */
  z-index: 2; /* Контейнер выше фонового блока */
}

/* Фоновый блок */
.backgroundBlock {
  position: fixed; /* Закрепляем относительно окна */
  width: 830px; /* Совпадает с шириной контейнера */
  height: 500px; /* Совпадает с высотой контейнера */
  bottom: -90px; /* Совпадает с контейнером */
  right: -100px; /* Совпадает с контейнером */
  background-color: #ac3b61; /* Цвет фона */
  z-index: 1; /* Размещаем под изображениями */
  border-top-left-radius: 90%; /* Небольшое закругление углов */
}

/* Стили для изображений */
.photo {
  position: absolute;
  width: 100%; /* Устанавливаем ширину относительно контейнера */
  height: 100%; /* Устанавливаем высоту относительно контейнера */
  object-fit: cover; /* Сохраняем пропорции и обрезаем лишнее */
  border-radius: 5px; /* Небольшое закругление углов */
}

.hands {
  z-index: 3; /* Руки выше всех */
  opacity: 1; /* Прозрачность */
  width: 100%;
  height: auto;
}

.pets {
  z-index: 2; /* Питомцы ниже рук, но выше фона */
  opacity: 1;
  width: 60%; /* Уменьшаем размер изображения */
  height: auto; /* Сохраняем пропорции */
  position: absolute; /* Абсолютное позиционирование */
  top: 32%; /* Смещаем на 25% вниз относительно контейнера */
  left: 50%; /* Смещаем на 50% вправо относительно контейнера */
  transform: translate(-50%, -50%); /* Центрируем изображение, сдвигая его обратно на половину ширины и высоты */
}

/* Текстовый контейнер */
.textContainer {
  margin-top: 120px;
  align-items: center; /* Выравнивание по вертикали */
}

.largeText h2 {
  font-size: 47px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2; /* Одинарный межстрочный интервал */
  margin-right: 20px; /* Отступ между текстами */
  color: #ac3b61;
}

.smallText p {
  font-size: 28px;
  line-height: 1.2; /* Одинарный межстрочный интервал */
}
